.icon-block {
  padding: 0 15px;
}

.icon-block.material-icons {
  font-size: inherit;
}

.browserupgrade {
  margin: 0.2em 0;
  background-color: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
  color: #f629b6;
}

h3, h4 {
  color: #f629b6;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #f629b6;
}

.intro, .skills {
font-family: 'Roboto', sans-serif;
}

.cat_circle {
  background: white !important;
  box-shadow: 1px 2px 10px inset;
}

.contain {
  margin: auto;
  width: 80px;
  height: 80px;
  background: yellow;
  border-radius: 40px;
  position: relative;
}

.cat {
  height: 50px;
  width: 3%;
  background-color: black;
  margin: auto;
  display: inline-table;
  margin-top: 20%;
  margin-left: -2%;
}

.cat:before {
  height: 32px;
  width: 32px;
  background-color: black;
  content: "";
  position: absolute;
  margin-top: 18px;
  border-radius: 17px;
  margin-left: 10px;
}

.cat:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #1a1a1a;
  border-left: 14px solid black;
}

.seat {
  width: 55px;
  height: 14px;
  position: absolute;
  margin-top: 36px;
  margin-left: -21%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: black;
}

.spacer {
  height: 1.5em;
}

.sky {
    background: #4e9ce0;
    color: #333;
    height: 42vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.hidden {
  display: none;
}

#sky {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}


@-webkit-keyframes floatingCloud {
    0% {
        margin-left: -505px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes floatingCloud {
    0% {
        margin-left: -505px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes floatingCloud {
    0% {
        margin-left: -505px;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes floatingCloud2 {
    0% {
        margin-left: -805px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes floatingCloud2 {
    0% {
        margin-left: -805px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes floatingCloud2 {
    0% {
        margin-left: -805px;
    }
    100% {
        margin-left: 100%;
    }
}

.cloud_1 {
    -webkit-animation: floatingCloud 30s linear infinite;
    -moz-animation: floatingCloud 30s linear infinite;
    animation: floatingCloud 30s linear infinite;
    
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
}

.cloud_2 {
    -webkit-animation: floatingCloud2 21s linear infinite;
    -moz-animation: floatingCloud2 21s linear infinite;
    animation: floatingCloud2 21s linear infinite;
    
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.cloud_3 {
    -webkit-animation: floatingCloud 33s linear infinite;
    -moz-animation: floatingCloud 33s linear infinite;
    animation: floatingCloud 33s linear infinite;
    
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.cloud_4 {
    -webkit-animation: floatingCloud 55s linear infinite;
    -moz-animation: floatingCloud 55s linear infinite;
    animation: floatingCloud 55s linear infinite;
    
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}


.cloud {
    background: #fff;
       
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

    height: 100px;
    position: relative;
    width: 300px;
    z-index: 2;
}

.cloud:after, .cloud:before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud:after {
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;

    height: 80px;
    left: 58px;
    top: -35px;
    width: 80px;
}

.cloud:before {
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;

    width: 160px;
    height: 160px;
    right: 27px;
    top: -80px;
}

.dark {
  background: darkgrey;
}

.dark:after, .dark:before {
    background: darkgrey;
}

.darkSky {
  background:
        linear-gradient(189deg, rgba(0, 0, 0, 0.8), rgba(255,0,0,0) 70.71%), 
        linear-gradient(173deg, rgba(51, 71, 78, 0.8), rgba(55, 66, 55, 0.45) 70.71%), 
        linear-gradient(336deg, rgba(255, 255, 255, 0.8), rgba(0,0,255,0) 70.71%);
  }

.skills {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    /*z-index: -2;*/
}

.skills .continue {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
  background-image: linear-gradient(to bottom, transparent, white);
  /*background: white;*/
  
}
.sun {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: yellow;
  /*margin: -280px auto 0px auto;*/
    margin: 0 auto;
    padding: 10px;
    position: relative;
  z-index: 1;
      -webkit-box-shadow: 0 0px 80px rgba(255, 203, 15, 1);
    -moz-box-shadow: 0 0px 80px rgba(255, 203, 15, 1);
    box-shadow: 0 0px 80px rgba(255, 203, 15, 1);
}


#temperature{
  z-index: 5;
      margin: 5% auto;
    padding: 30px 10px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 0px 10px black;
    color: white;
}

.skillHeader {
  height: 500px;
  box-shadow: -2px 4px 17px;
  z-index: 999999;
}
.skillHeader h1 {
  padding-left: 0.5em;
}

#index-banner{
  box-shadow: -2px -1px 17px;
}


@media only screen and (max-width: 560px) {

  .skillHeader h1{
    font-size:3.25em;
  }
}


@media only screen and (max-width: 992px) {

  .skillHeader {
    text-align: center;
    height:325px;
  }
}
